@import "../scss/variables.scss";

.nav-bar {
    position: relative;
    background-color: $white-line;
    display: flex;

    .logos-container {
        display: flex;
        align-items: center;

        .btn-menu-icon {
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;

            .menu-icon {
                width: 50px;
                height: 50px;
            }
        }

        .surf-fun-logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            font-size: large;
        }
    }

    .nav-list {
        background-color: $white-line;
        position: absolute;
        top: 100%;
        z-index: 10;
        width: 80%;
        list-style-type: none;
        padding: 0;

        @media (min-width: $breakpoint-tablet) {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .trial-nav {
            @media (min-width: $breakpoint-tablet) {
                display: none;
            }
        }

        li {
            padding: 1%;

            @media (min-width: $breakpoint-tablet) {
                display: inline-block;
            }

            .btn-sign-in {
                box-sizing: border-box;    
                border: none;
                border-radius: 30px;
                padding: 0.5rem;
                background-color: $dark-sea-blue;
                color: $pink;
            }
        }
    }
}