@import "../scss/variables.scss";

.btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.nav-container {
    color: $dark-sea-blue;

    .nav-bar {
        background-color: $white-line;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-icon {
            width: 50px;
            height: 50px;
        }

        .surf-fun-logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            font-size: large;
        }

        .btn-sign-in {
            text-decoration: underline;
        }
    }

    .nav-list {
        position: fixed;
        z-index: 10;
        display: inline-block;
        list-style-type: none;
        padding: 0;
        width: 80%;
        background-color: $white-line;

        li {
            padding: 0.5rem;

            .btn-free-trial {
                display: block;
                text-transform: uppercase;
                padding: 0.5rem;
                background-color: $pink;
                color: $sand;
                border-radius: 2vw;
                border: 0.2rem solid $sand;
                margin: auto;
            }
        }

    }
}