$breakpoint-phone-small: 480px;
$breakpoint-phone-large: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-large: 1024px;
$breakpoint-laptop-small: 1280px;
$breakpoint-desktop: 1440px;
$breakpoint-desktop-large: 1600px;

$dark-sea-blue: #285260;
$light-sea-blue: #548c92;
$white-line: #B4D7D8;
$pink: #E0D7CF;
$sand: #AB9072;